{% extends "network/layout.html" %}

{% block body %}
    <h3>Post a Chirp</h3>
    <div class="new-post-form-container">

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-primary my-2" type="submit" value="Post"/>
        </form>

    </div>
    <hr>
    <h1>All Chirps</h1>
    {% include "network/post-pagination.html" with user=user page_obj=page_obj %}
{% endblock %}