<!-- Pagination of User Posts -->

<div class="post-group">
    {% for post in page_obj %}
        <div class="post card">
            <div class="card-header post-author" id="postAuthor_{{ post.id }}">@<a href="{% url 'profile' post.author.username %}">{{post.author}}</a></div>
            <div class="card-body position-relative">
                <h5 class=" card-title"></h5>
                <div class="post-content-container mb-2" id="postContentContainer_{{ post.id }}">
                    <span class="post-content card-text" id="postContent_{{ post.id }}" style="display: block">{{post.content}}</span>
                    {% if post.author == user %}
                        <textarea class="post-content-edit form-control" id="postContentEdit_{{ post.id }}" style="display: none"></textarea>
                        <button class="post-content-button edit-button btn btn-secondary mt-2" id="postContentEditButton_{{ post.id }}">Edit</button>
                        <button class="post-content-button save-button btn btn-outline-primary mt-2" id="postContentSaveButton_{{ post.id }}" style="display: none">Save</button>
                    {% endif %}
                </div>
                <div class="like-button-group d-sm-inline">
                    Likes <span class="like-count" id="likeCount_{{ post.id }}">{{ post.likes }}</span>
                    {% if user not in post.users_liked and user.is_authenticated %}
                        <button class="like-unlike-button btn btn-primary btn-sm mb-1 ms-2" id="{{ post.id }}">Like</button>
                    {% elif user in post.users_liked and user.is_authenticated %}
                        <button class="like-unlike-button btn btn-primary btn-sm mb-1 ms-2" id="{{ post.id }}">Unlike</button>
                    {% else %}
                        <button class="like-unlike-button btn btn-primary btn-sm mb-1 ms-2" id="{{ post.id }}" disabled>Like</button>
                    {% endif %}
                </div>
                <div class="post-datetime d-sm-block fw-light text-muted" id="postDatetime_{{ post.id }}">{{post.datetime}}</div>
            </div>
        </div>

    {% empty %}
        <span>It's so quiet... need more chips...</span><img src="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAis8AAAAAAADZ/wAA4f8AAJbgAAB+vQAAzPoAAGicAACR8gBAsv8AHOX/AACy7QAAAAAAAAAAAAAAAAAAAAAAERERGBgREREREREYGBERERERERd3d3EREREXdERERxEREXRLu7u0cRERdLZ3dmtHERdLZzMyJrURF0tjZmIiZRF0u2I6qqo1GGZmI6AAAKWYoxM6ARERBREKqqAREREQERAAARERERERERERERERERERERERERERERERERERERH+vwAA/r8AAP4HAAD4AwAA8AEAAPAAAADgAAAA4AAAAMAAAACAAAAAAHwAAMD+AADh/wAA//8AAP//AAD//wAA" alt="tweety bird">
    {% endfor %}

    <nav class="mt-4">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                {% if page_obj.previous_page_number != 1 %}
                    <li class="page-item first"><a class="page-link" href="?page=1">&laquo; First</a></li>
                {% endif %}
                <li class="page-item previous"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
    
            <li class="page-item current disabled">
                <a class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
            </li>
    
            {% if page_obj.has_next %}
                <li class="page-item next"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                    <li class="page-item last"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>

</div>

