network/__pycache__/
network/migrations/__pycache__/
project4/__pycache__/


# Ignore directories
/network/__pycache__
/network/migrations/__pycache__
project4/__pycache__

# Ignore file types
*.pyc
*.css.map
*.env
