$primary-theme: rgb(29, 155, 240);
$nav-text: white;



body {
    background-color: lightgray;
    font-family: "Varela", sans-serif;
}

.navbar-brand {
    font-family: "Brush Script MT", cursive;
    color: $nav-text;
    font-size: 50px;
    margin-left: 60px
}

.navbar {
    background-color: $primary-theme;
    flex-direction: column;
}

.nav-link {
    color: $nav-text;
    margin: 2px 20px;
    font-family: unset;
}

.container {
    display: flex;
}

.body {
    background-color: white;
}

h1 {
    margin: 16px 0px;
}

.post {
    margin-bottom: 10px;
}
