$primary-theme: rgb(29, 155, 240);
$primary-theme-darker: rgb(25, 129, 198);
$nav-text: white;



.btn-primary {
    --bs-btn-bg: rgb(29, 155, 240);
    --bs-btn-border-color: rgb(29, 155, 240);
    --bs-btn-hover-bg: rgb(25, 129, 198);
    --bs-btn-hover-border-color: rgb(25, 129, 198);
}

.btn-outline-primary {
    --bs-btn-bg: white;
    --bs-btn-color: rgb(29, 155, 240);
    --bs-btn-border-color: rgb(29, 155, 240);
    --bs-btn-hover-bg: rgb(25, 129, 198);
    --bs-btn-hover-border-color: rgb(25, 129, 198);
}


%post-button {
    --bs-btn-padding-y: .10rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .80rem;
}


.login-input {
    margin: 10px 0px;
}

.register-input {
    margin: 10px 0px;
}

body {
    background-color: lightgray;
    font-family: "Varela", sans-serif;
}

.navbar-brand {
    font-family: "Brush Script MT", cursive;
    color: $nav-text;
    font-size: 50px;
    margin-left: 60px
}

.navbar {
    background-color: $primary-theme;
    flex-direction: column;
}

.nav-link {
    color: $nav-text;
    margin: 2px 20px;
    font-family: unset;
}

.container {
    display: flex;
}

.body {
    background-color: white;
}

h1 {
    margin: 16px 0px;
}

.card-body {
    padding: 3px 15px 10px 15px; 
}

.post {
    margin-bottom: 10px;
}

.post-content-button {
    @extend %post-button;
}

.like-unlike-button {
    @extend %post-button;
}

.like-count {
    font-weight: bold;
}
